<span class="fHeading">&nbsp;<img src="./hlstatsimg/downarrow.gif" alt="" />&nbsp;[head]</span><br /><br />
<div class="subblock">
	<table class="data-table">
		<tr class="data-table-head">
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr class="bg1">
			<td>[t_name]:</td>
			<td>[name]</td>
		</tr>
		<tr class="bg1">
			<td>[t_os]:</td>
			<td>[os]</td>
		</tr>
		<tr class="bg1">
			<td>[t_uptime]:</td>
			<td>[uptime]</td>
		</tr>
		<tr class="bg1">
			<td>[t_channels]:</td>
			<td>[channels]</td>
		</tr>
		<tr class="bg1">
			<td>[t_user]:</td>
			<td>[user]</td>
		</tr>
	</table>
</div>
<br /><br />
<span class="fHeading">&nbsp;<img src="./hlstatsimg/downarrow.gif" alt="" />&nbsp;[channel_head]</span><br /><br />
<div class="subblock">
	<table class="data-table">
		[uchannels]
	</table> 
</div>
